<div class="container mt-5 d-flex justify-content-center">
  <div class="card shadow" style="max-width: 400px; width: 100%;">
    <div class="card-body text-center">
      <img 
        [src]="avatarUrl"
        alt="Avatar" 
        class="rounded-circle mb-3" 
        style="width: 120px; height: 120px; object-fit: cover;"
      />
      <h3 class="card-title">{{ username }}</h3>

      <div class="d-flex justify-content-center gap-3">

        <button *ngIf="role !== 'ADMIN'" class="btn btn-primary" [routerLink]="['/profile/edit']">
          Редактировать профиль
        </button>
        <button *ngIf="role === 'ADMIN'" class="btn btn-primary" [routerLink]="['/admin/profile/edit']">
          Редактировать профиль
        </button>

        <button class="btn btn-outline-danger" (click)="logout()">
          Выйти
        </button>
      </div>
    </div>
  </div>
</div>
